.footer--dark {
    --ifm-footer-color: var(--ifm-font-color-base) !important;
    --ifm-footer-background-color: #f5f5fa !important;
    --ifm-footer-title-color: var(--ifm-font-color-base) !important;
    --ifm-footer-link-color: #626784 !important;
}

[data-theme='dark'] .footer--dark {
    --ifm-footer-color: var(--ifm-font-color-base) !important;
    --ifm-footer-background-color: #15171b !important;
    --ifm-footer-title-color: var(--ifm-font-color-base) !important;
    --ifm-footer-link-color: #626784 !important;
}

.footer {
    color: var(--ifm-font-color-base) !important;
}

[data-theme='dark'] .footer {
    color: var(--ifm-font-color-base) !important;
}