/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('./code-block.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* You can override the default Infima variables here. */
:root {
  font-size: 14px;
  --doc-sidebar-width: 320px !important;
  --ifm-font-family-base: 'Roboto';
  --ifm-color-primary: #9669FF;
  --ifm-color-primary-dark: #3F2C6B;
  --ifm-color-primary-darker: #392861;
  --ifm-color-primary-darkest: #332457;
  --ifm-color-primary-light: #9685FF;
  --ifm-color-primary-lighter: #ADA1FF;
  --ifm-color-primary-lightest: #C6BDFF;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #9669FF;
  --ifm-color-primary-dark: #3F2C6B;
  --ifm-color-primary-darker: #392861;
  --ifm-color-primary-darkest: #332457;
  --ifm-color-primary-light: #9685FF;
  --ifm-color-primary-lighter: #ADA1FF;
  --ifm-color-primary-lightest: #C6BDFF;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 16px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 15px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

.margin-top-bot {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.menu {
  background-color: #f5f5fa !important;
  padding: 2em !important;
}

[data-theme='dark'] .menu {
  background-color: #18191a !important;
}

@media screen and (min-width: 1280px) {
  .menu {
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  .row .col {
    padding-right: 10em !important;
    margin: 0px 80px 0px 80px !important;
  }
}

.navbar__title {
  font-size: 25px !important;
}

.hash-link::before {
  content: none !important;
}

.markdown a {
  font-weight: normal !important;
  --ifm-link-color: #1c1e21 !important;
}

[data-theme='dark'] .markdown a {
  font-weight: normal !important;
  --ifm-link-color: #fff !important;
}

.markdown li::marker {
    content: "#  " !important;
    color: #9669FF !important;
    border: none !important;
    font-weight: bold !important;
}
