@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro&display=swap');

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2 !important;
    background: none !important;
    font-size: 12.8px;
    font-style: normal !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3) !important;
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Source Code Pro', monospace !important;
    text-align: left !important;
    white-space: pre !important;
    word-spacing: normal !important;
    word-break: normal !important;
    word-wrap: normal !important;
    line-height: 1.8 !important;
    -moz-tab-size: 4 !important;
    -o-tab-size: 4 !important;
    tab-size: 4 !important;
    -webkit-hyphens: none !important;
    -moz-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em !important;
    margin: .5em 0 !important;
    overflow: auto !important;
    border-radius: 0.3em !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #282a36 !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em !important;
    border-radius: .3em !important;
    white-space: normal !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    font-style: normal !important;
    color: #6272a4 !important;
}

.token.punctuation {
    font-style: normal !important;
    color: #f8f8f2 !important;
}

.namespace {
    opacity: .7 !important;
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.keyword {
    font-style: normal !important;
    color: #ff79c6 !important;
}

.token.boolean,
.token.number {
    font-style: normal !important;
    color: #bd93f9 !important;
}

.token.class-name,
.token.maybe-class-name {
    font-style: normal !important;
    color: #8be9fd !important;
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted,
.token.method.function.property-access,
.token.console,
.token.function {
    font-style: normal !important;
    color: #50fa7b !important;
}

.token.plain,
.token.property-access,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.constant,
.token.variable {
    font-style: normal !important;
    color: #f8f8f2 !important;
}

.token.string,
.token.atrule,
.token.attr-value {
    font-style: normal !important;
    color: #f1fa8c !important;
}

.token.regex,
.token.important {
    font-style: normal !important;
    color: #ffb86c !important;
}

.token.important,
.token.bold {
    font-style: normal !important;
    font-weight: bold !important;
}

.token.italic {
    font-style: normal !important;
    font-style: italic !important;
}

.token.entity {
    font-style: normal !important;
    cursor: help !important;
}

code {
    font-style: normal !important;
    background: #fbfbfd;
    color: #9669ff;
    border: 0;
    padding: 5px;
}

[data-theme='dark'] code {
    background: #282a36;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    padding: 0 !important;
    background: #282a36 !important;
}
